[Unit]
Description=Valheim Discord Manager
After=network.target

[Service]
ExecStart=/usr/bin/python3 main.py
WorkingDirectory=/home/dano/valheim-discord-python
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
